<!doctype html>
<html lang="pl">
  <head>
    <meta charset="utf-8">
    <title>{% block headpagetitle %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/vendor/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/static/css/app.css">
    <link rel="icon" type="image/png" href="/static/img/icon.png">
  </head>
  <body role="document">
    <div class="container">
      <div class="row my-2">
        <div class="col-12" id="hdr_main">
          <h1>{{ site.name }}</h1>
        </div>
      </div>
      <div class="row my-2">
        <div class="col-12">
          <ul class="nav justify-content-end">
            <li class="nav-item">
              <a class="nav-link {% if request.url_rule.endpoint == 'main.home' %}active{% endif %}" href="/">Strona główna</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if request.url_rule.endpoint == 'main.basic_information' %}active{% endif %}" href="{{ url_for('main.basic_information') }}">Informacje podstawowe</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if request.url_rule.endpoint == 'main.staff' %}active{% endif %}" href="{{ url_for('main.staff') }}">Pracownicy</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if request.url_rule.endpoint == 'main.contact' %}active{% endif %}" href="{{ url_for('main.contact') }}">Kontakt</a>
            </li>
          </ul>
        </div>
      </div>

      {% with flashes = get_flashed_messages(with_categories=True) %}
      {% if flashes %}
      <div class="row my-2">
        <div class="col-12">
          {% for category, flash in flashes %}
          <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
            {{ flash }}
            <button type="button" class="close" data-dismiss="alert" aria-label="{{ gettext('close') }}"><span aria-hidden="true">&times;</span></button>
          </div>
          {% endfor %}
        </div>
      </div>
      {% endif %}
      {% endwith %}

      <div class="row my-2">
        <div class="col col-md-3">
          <ul class="nav flex-column">
            {% for item in menu %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('main.category', category_id=item.pk) }}">{{ item.title }}</a>
            </li>
            {% endfor %}
          </ul>
          <hr>
          <h6>Konto redaktora</h6>
          <ul class="nav flex-column">
            {% for item in tools %}
            {% if (current_user.is_authenticated and not item.hide.authenticated) or (current_user.is_anonymous and not item.hide.anonymous) %}
            <li class="nav-item">
              <a class="nav-link" href="{{ item.url }}">{{ item.title }}</a>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
          {% if current_user.is_authenticated and current_user.admin %}
          <hr>
          <h6>Administracja</h6>
          <ul class="nav flex-column">
            {% for item in admintools %}
            <li class="nav-item">
              <a class="nav-link" href="{{ item.url }}">{{ item.title }}</a>
            </li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
        <div class="col col-md-9">
          {% block content %}
          {% endblock %}
        </div>
      </div>
      <footer>
        <hr>
      </footer>
    </div>
    <script src="/static/vendor/jquery-3.4.1.slim.min.js"></script>
    <script src="/static/vendor/popper.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
