<!doctype html>
<html lang="pl">
  <head>
    <meta charset="utf-8">
    <title>{% block headpagetitle %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/vendor/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/static/css/app.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-12" id="hdr_main">
          <h1>Gminne Centrum Kultury</h1>
          <p class="h4 text-muted">Poświętne</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
        </div>
      </div>
      <div class="row">
        <div class="col col-md-3">
        </div>
        <div class="col col-md-9">
        </div>
      </div>
      <div class="row">
        <div class="col-12">
        </div>
      </div>
    </div>
    <script src="/static/vendor/jquery-3.4.1.slim.min.js"></script>
    <script src="/static/vendor/popper.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
