{% extends "admin/base.html" %}

{% from "macros/forms.html" import render_form %}
{% from "macros/navigation.html" import breadcrumbs %}
{% import "macros/mde.html" as mde %}

{% block pagetitle %}Dane załącznika {{ object.title }}{% endblock %}

{% block content %}
<h2>Dane załącznika {{ object.title }}</h2>
{{ render_form(form, action=request.path) }}
{% endblock %}

{% block breadcrumbs %}
{% set pages = [(url_for('admin.home'), 'Początek'), (url_for('admin.attachment_list'), 'Lista załączników'), (request.path, object.title)] %}
{{ breadcrumbs(pages) }}
{% endblock %}

{% block extrahead %}
{{ mde.css() }}
{{ mde.js() }}
{% endblock %}

{% block extrajs %}
{{ mde.load_for('description') }}
{% endblock %}
