{% extends "admin/base.html" %}

{% from "macros/forms.html" import render_form %}

{% block headpagetitle %}Dane kategorii {{ object.title }}{% endblock %}

{% block content %}
<h2>Dane kategorii {{ object.title }}</h2>
{{ render_form(form, action=request.path) }}
{% if object.page or object.directory %}
<h3>Obiekty powiązane</h3>
{% if object.page %}<p><strong>strona:</strong> <a href="{{ url_for('main.category', category_pk=object.pk) }}" title="wyświetl stronę">{{ object.page.title }}</a>&nbsp;&mdash;&nbsp;<a href="{{ url_for('admin.page_detail', page_pk=object.page.pk) }}" class="btn btn-sm btn-primary">edytuj</a></p>{% endif %}
{% endif %}
{% endblock %}
