{% extends "admin/base.html" %}

{% block headpagetitle %}Administracja serwisu BIP{% endblock %}

{% block content %}
<h2>Administracja serwisu BIP</h2>
<div class="row my-2 justify-content-center">
  <div class="card col-md-3 mx-2 my-2">
    <div class="card-body">
      <h4 class="card-tile">Użytkownicy</h4>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="{{ url_for('admin.user_list') }}">konta</a></li>
      </ul>
    </div>
  </div>
  <div class="card col-md-3 mx-2 my-2">
    <div class="card-body">
      <h4 class="card-tile">Zawartość</h4>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="{{ url_for('admin.page_list') }}">strony</a></li>
        <li class="list-group-item"><a href="{{ url_for('admin.label_list') }}">etykiety</a></li>
        <li class="list-group-item"><a href="{{ url_for('admin.attachment_list') }}">załączniki</a></li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
