{% extends "admin/base.html" %}

{% from "macros/pagination.html" import render_pagination %}
{% from "macros/forms.html" import render_form %}
{% from "macros/navigation.html" import breadcrumbs %}
{% import "macros/mde.html" as mde %}

{% block headpagetitle %}Etykiety{% endblock %}

{% block content %}
<h2>Etykiety</h2>
{% if pagination.items %}
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">nazwa</th>
    </tr>
  </thead>
  <tbody>
    {% for label in pagination.items %}
    <tr>
      <td><a href="{{ url_for('admin.label_detail', label_pk=label.pk) }}">{{ label.name }}</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{{ render_pagination(pagination) }}
{% else %}
<p>Nie ma żadnych etykiet. Dodaj nową używając formularza poniżej.</p>
{% endif %}
<h2>Nowa etykieta</h2>
{{ render_form(form, action=request.path) }}
{% endblock %}

{% block breadcrumbs %}
{% set pages = [(url_for('admin.home'), 'Początek'), (request.path, 'Lista etykiet')] %}
{{ breadcrumbs(pages) }}
{% endblock %}

{% block extrahead %}
{{ mde.css() }}
{{ mde.js() }}
{% endblock %}

{% block extrajs %}
{{ mde.load_for('description') }}
{% endblock %}
