{% extends "admin/base.html" %}

{% from "macros/forms.html" import render_form %}
{% import "macros/mde.html" as mde %}

{% block headpagetitle %}Dane strony {{ object.title }}{% endblock %}

{% block content %}
<h2>Dane strony {{ object.title }}</h2>
{{ render_form(form, action=request.path) }}
<h3>Etykiety</h3>
<p>
  {% for pl in object.labels() %}
  <span class="badge badge-secondary">{{ pl.label.name }}</span>
  {% endfor %}
</p>
{% endblock %}

{% block extrahead %}
{{ mde.css() }}
{{ mde.js() }}
{% endblock %}

{% block extrajs %}
{{ mde.load_for('text') }}
{% endblock %}
