{% extends "admin/base.html" %}

{% block headpagetitle %}Etykiety strony {{ page.title }}{% endblock %}

{% block content %}
<h2>Etykiety strony {{ page.title }}</h2>
{% if page_labels %}
<form method="POST" action="{{ request.path }}">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
  <input type="hidden" name="op" value="remove">
  <table class="table table-bordered">
    {% for pl in page_labels %}
    <tr>
      <td>{{ pl.label.name }}</td>
      <td><input type="checkbox" name="label" value="{{ pl.pk }}"/></td>
    </tr>
    {% endfor %}
  </table>
  <p><button class="btn btn-primary" type="submit">Usuń wybrane</button></p>
</form>
{% else %}
<p>Nie ma żadnych etykiet.</p>
{% endif %}
{% if labels %}
<h3>Dostępne etykiety</h3>
<form method="POST" action="{{ request.path }}">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
  <input type="hidden" name="op" value="add">
  <table class="table table-bordered">
    {% for label in labels %}
    <tr>
      <td>{{ label.name }}</td>
      <td><input type="checkbox" name="label" value="{{ label.pk }}"/></td>
    </tr>
    {% endfor %}
  </table>
  <p><button class="btn btn-primary" type="submit">Dodaj wybrane</button></p>
</form>
{% else %}
<p>Strona wykorzystuje wszystkie dostępne etykiety.</p>
{% endif %}
{% endblock %}
