{% extends "admin/base.html" %}

{% from "macros/pagination.html" import render_pagination %}
{% from "macros/navigation.html" import breadcrumbs %}

{% block headpagetitle %}Konta użytkowników{% endblock %}

{% block content %}
<h2>Konta użytkowników</h2>
{% if pagination.items %}
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">nazwa</th>
      <th scope="col">zarejestrowany</th>
      <th scope="col">email</th>
      <th scope="col">aktywny</th>
      <th scope="col">administrator</th>
    </tr>
  </thead>
  <tbody>
    {% for user in pagination.items %}
    <tr>
      <td><a href="{{ url_for('admin.user_detail', user_pk=user.pk) }}">{{ user.name }}</a></td>
      <td>{{ user.created|dateformat(format='short') }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.active|yesno }}</td>
      <td>{{ user.admin|yesno }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{{ render_pagination(pagination) }}
{% endif %}
{% endblock %}

{% block breadcrumbs %}
{% set pages = [(url_for('admin.home'), 'Początek'), (request.path, 'Lista kont')] %}
{{ breadcrumbs(pages) }}
{% endblock %}
