[Unit]
Description=uruchomienie BIP jako aplikacji WSGI (Gunicorn)
After=network.target

[Service]
User=mojekonto
Group=www-data
WorkingDirectory=/home/mojekonto/bip
EnvironmentFile=/home/mojekonto/bip/environment
ExecStart=/home/mojekonto/bip/venv/bin/gunicorn --preload --workers 2 --bind unix:/tmp/bip.sock -m 007 bip.wsgi:application
Restart=always

[Install]
WantedBy=multi-user.target
