#hdr_main {
  background-image: url(/static/img/logo_120.png);
  background-position-x: left;
  background-repeat: no-repeat;
  height: 120px;
  padding-left: 350px;
}

.help-block, .help {
  font-size: 75%;
  font-style: italic;
  color: gray;
  line-height: 1.1em;
}

.required label {
  font-weight: bold;
}
