{% extends "main/base.html" %}

{% from "macros/render.html" import render_person, render_dl %}

{% block headpagetitle %}{{ site.name }} - Działy i pracownicy{% endblock %}

{% block content %}
<h2>Działy i pracownicy</h2>
{% for department in site.departments %}
  {% if site.departments|count > 1 %}
  <h3>{{ department.name }}</h3>
  {% endif %}
  {{ render_dl(department.basic_information, render_empty=False) }}
  <h4>Pracownicy</h4>
  {% for staff_member in department.staff %}
  {{ render_person(staff_member, render_empty=False) }}
  {% endfor %}
{% endfor %}
{% endblock %}
