{% from 'bootstrap/form.html' import form_errors %}

{% macro field_description(field) %}
{% if field.errors %}
{% for error in field.errors %}
<div class="invalid-feedback d-block">{{ error }}</div>
{% endfor %}
{% else %}
{% if field.description %}
<small class="form-text text-muted">{{ field.description|safe }}</small>
{% endif %}
{% endif %}
{% endmacro %}

{% macro render_field(field) %}
{% set is_checkbox = field.widget.input_type == 'checkbox' %}
{% set is_radio = field.widget.input_type == 'radio' %}
{% set is_file = field.widget.input_type == 'file' %}
{% set is_required = field.flags.required %}
{% set has_errors = field.errors %}
<div class="form-group row{% if is_required %} required{% endif %}">
  {% if not (is_radio or is_checkbox) %}
  <label for="{{ field.id }}" class="col-sm-2 col-form-label">{{ field.label.text|safe }}</label>
  {% endif %}
  {% if not is_radio %}
  <div class="col-sm-10{% if is_checkbox %} offset-sm-2{% endif %}">
    {% if is_checkbox %}
    <div class="form-check">
      {% if has_errors %}
      {{ field(class_='form-check-input is-invalid') }}
      {% else %}
      {{ field(class_='form-check-input') }}
      {% endif %}
      <label class="form-check-label" for="{{ field.id }}">{{ field.label.text|safe }}</label>
    </div>
    {% else %}
    {% if is_file %}
    {% if has_errors %}
    {{ field(class_='form-control-file is-invalid') }}
    {% else %}
    {{ field(class_='form-control-file is-valid') }}
    {% endif %}
    {% else %}
    {% if has_errors %}
    {{ field(class_='form-control is-invalid') }}
    {% else %}
    {{ field(class_='form-control') }}
    {% endif %}
    {% endif %}
    {% endif %}
    {{ field_description(field) }}
  </div>
  {% endif %}
</div>
{% endmacro %}

{% macro render_form_fields(form) %}
  {{ form.hidden_tag() }}
  {{ form_errors(form, hiddens='only') }}
  {% for field in form %}
  {% if not bootstrap_is_hidden_field(field) %}
    {{ render_field(field) }}
  {% endif %}
  {% endfor %}
{% endmacro %}

{% macro render_form_buttons(buttons) %}
<div class="form-group row">
  <div class="offset-sm-2 col-sm-10">
    {% for button in buttons %}
    {{ button.render() }}&nbsp;
    {% endfor %}
  </div>
</div>
{% endmacro %}

{% macro render_form(form, action) %}
{% set enctype = kwargs.pop('enctype', None) %}
{% set method = kwargs.pop('method', 'POST') %}
<form method="{{ method }}" action="{{ action }}" {% if enctype %}enctype="{{ enctype }}"{% endif %} class="form form-horizontal" role="form" novalidate>
{{ render_form_fields(form) }}
{{ render_form_buttons(form.buttons) }}
</form>
{% endmacro %}
