{% from 'bootstrap/form.html' import form_errors, render_field %}

{% macro render_form_fields(form, form_type="horizontal", horizontal_columns=('sm', 2, 10)) %}
  {% set hints = kwargs.pop('hints', None) %}
  {{ form.hidden_tag() }}
  {{ form_errors(form, hiddens='only') }}
  {%- for field in form %}
    {% if not bootstrap_is_hidden_field(field) -%}
      {% if field.type == 'DecimalField' -%}
        {{ render_field(
          field,
          form_type=form_type,
          horizontal_columns=horizontal_columns,
          button_map=button_map,
          step=pow(10, field.places * -1)) }}
      {% elif field.type == 'TextAreaWithHintsField' and hints %}
        {{ render_field(
          field,
          form_type=form_type,
          horizontal_columns=horizontal_columns,
          button_map=button_map,
          hints=hints) }}
      {% else %}
        {{ render_field(
          field,
          form_type=form_type,
          horizontal_columns=horizontal_columns,
          button_map=button_map) }}
        {%- endif %}
    {%- endif %}
  {%- endfor %}
{%- endmacro %}

{% macro render_form_buttons(buttons) %}
<div class="form-group row">
  <div class="offset-sm-2 col-sm-10">
    {%- for button in buttons %}
    {{ button.render() }}&nbsp;
    {%- endfor %}
  </div>
</div>
{%- endmacro %}

{% macro render_form(form, action) %}
{% set hints = kwargs.pop('hints', None) %}
{% set enctype = kwargs.pop('enctype', None) %}
<form method="post" action="{{ action }}" {% if enctype %}enctype="{{ enctype }}"{% endif %} class="form form-horizontal" role="form" novalidate>
{{ render_form_fields(form, hints=hints) }}
{{ render_form_buttons(form.buttons) }}
</form>
{%- endmacro %}
