{% macro render_menu_item(item) %}
<li class="nav-item">
  <a class="nav-link" href="{{ url_for('main.category', category_pk=item.pk) }}">{{ item.title }}</a>
  {% if item.children %}
  <ul class="nav flex-column ml-4">
    {% for child_item in item.children %}
    {{ render_menu_item(child_item) }}
    {% endfor %}    
  </ul>
  {% endif %}
</li>
{% endmacro %}

{% macro render_menu(tree) %}
<ul class="nav nav-pills flex-column">
  {% for toplevel in tree.root.children %}
  {{ render_menu_item(toplevel) }}
  {% endfor %}
</ul>
{% endmacro %}
