{% macro render_dl(items, render_empty=True) %}
<dl class="row">
  {% for (name, value) in items %}
  {% if value or render_empty %}
  <dt class="col-sm-3">{{ name }}</dt>
  <dd class="col-sm-9">{{ value }}</dd>
  {% endif %}
  {% endfor %}
</dl>
{% endmacro %}

{% macro render_person(p, render_empty=True) %}
<div class="row">
  <div class="col-sm-3 text-center">{% if p.photo_url %}<img src="{{ p.photo_url }}" title="{{ p.person_name }}">{% endif %}</div>
  <div class="col-sm-9">
    {{ render_dl(p.basic_information, render_empty) }}
  </div>
</div>
{% endmacro %}
